// Auto generated
package com.agfa.typeddicom.dataelements;

import com.agfa.typeddicom.AttributesWrapper;
{{#sequence}}
import com.agfa.typeddicom.AbstractSequenceItemWrapper;
import com.agfa.typeddicom.SequenceWrapper;
import org.dcm4che3.data.Attributes;
import org.dcm4che3.data.Sequence;
import org.dcm4che3.data.Tag;
{{/sequence}}
{{^sequence}}
import com.agfa.typeddicom.AbstractDataElementWrapper;
import com.agfa.typeddicom.valuerepresentations.{{valueRepresentationWrapper}};
import org.dcm4che3.data.Attributes;
{{/sequence}}
import org.dcm4che3.data.VR;
import org.dcm4che3.data.Tag;


{{{classJavaDoc}}}
{{#retired}}
@Deprecated
{{/retired}}
public class {{keyword}} extends {{#sequence}}SequenceWrapper<{{keyword}}.Item>{{/sequence}}{{^sequence}}AbstractDataElementWrapper implements {{valueRepresentationWrapper}}{{/sequence}} {
    public static final VR VALUE_REPRESENTATION = VR.{{valueRepresentation}};
    public static final int TAG = {{tagConstant}};

{{^sequence}}
    public {{keyword}}(Attributes attributes) {
        super(attributes);
    }

    public {{keyword}}() {
        super();
    }

    public {{keyword}} copy() {
        return super.copy({{keyword}}.class);
    }

    @Override
    public int getTag() {
        return TAG;
    }

    @Override
    public VR getValueRepresentation() {
        return VALUE_REPRESENTATION;
    }
{{/sequence}}
{{#sequence}}

    public {{keyword}}(Sequence sequence) {
        super(sequence, {{keyword}}.Item.class);
    }

    public static class Item extends AbstractSequenceItemWrapper {{^subDataElementMetaInfos.isEmpty}}implements {{implementsHolderInterfaces}} {{/subDataElementMetaInfos.isEmpty}}{

        public Item(Attributes attributes) {
            super(attributes);
        }

        public Item() {
            super();
        }

        public Item copy() {
            return super.copy(Item.class);
        }
    }
{{/sequence}}

    public interface Holder extends AttributesWrapper {

        /**
         *
         * @return the {{name}} (see {@link {{keyword}}})
         */
        default {{keyword}} get{{keyword}}() {
        {{#sequence}}
            Sequence sequence = getAttributes().getSequence(TAG);
            if (sequence == null) {
                return null;
            }
            return new {{keyword}}(sequence);
        {{/sequence}}
        {{^sequence}}
            return new {{keyword}}(getAttributes());
        {{/sequence}}
        }

        {{#sequence}}
        /**
         * Adds a new {{name}}. (see {@link {{keyword}}})
         *
         * @param initialCapacity the initial capacity for the new {{name}}
         */
        default {{keyword}} new{{keyword}}(int initialCapacity) {
            return new {{keyword}}(getAttributes().newSequence(TAG, initialCapacity));
        }

        /**
         * Adds a new {{name}} if it does not already exist. (see {@link {{keyword}}})
         *
         * @param initialCapacity the initial capacity if a new {{name}} is created
         */
        default {{keyword}} ensure{{keyword}}(int initialCapacity) {
            return new {{keyword}}(getAttributes().ensureSequence(TAG, initialCapacity));
        }

        {{/sequence}}
        /**
         * @return Whether it contains a {{name}} (see {@link {{keyword}}})
         */
         default boolean contains{{keyword}}() {
            return getAttributes().contains(TAG);
         }

        /**
         * Removes the {{name}} (see {@link {{keyword}}}
         */
        default void remove{{keyword}}() {
            getAttributes().remove(TAG);
        }
    }
}
