// Auto generated
package com.agfa.typeddicom.dataelements;

{{#sequence}}
import com.agfa.typeddicom.AttributesWrapper;
import com.agfa.typeddicom.SequenceWrapper;
import org.dcm4che3.data.Attributes;
import org.dcm4che3.data.Sequence;
import org.dcm4che3.data.Tag;
{{/sequence}}
import org.dcm4che3.data.VR;

/**
 * <strong>Name:</strong> {{name}}<br/>
 * <strong>Keyword:</strong> {{keyword}}<br/>
 * <strong>Tag:</strong> {{tag}}<br/>
 * <strong>Value Representation:</strong> {{valueRepresentation}}<br/>
 * <strong>Value Multiplicity:</strong> {{valueMultiplicity}}<br/>
{{#comment}}
 * <strong>Comment:</strong> {{.}}
{{/comment}}
{{#contextsOfAdditionalAttributeInfo}}
{{> AdditionalAttributeInfoInContext}}
{{/contextsOfAdditionalAttributeInfo}}
{{#retired}}
 *
 * @deprecated {{comment}}
{{/retired}}
 */
{{#retired}}
@Deprecated
{{/retired}}
public class {{keyword}} extends {{#sequence}}SequenceWrapper<{{keyword}}.Item>{{/sequence}}{{^sequence}}AbstractDataElementWrapper{{/sequence}} {
    public static final VR valueRepresentation = VR.{{valueRepresentation}};
{{^sequence}}
    public {{keyword}}(Object value, boolean bigEndian, org.dcm4che3.data.SpecificCharacterSet characterSet) {
        super(value, bigEndian, characterSet);
    }

    @Override
    public VR getValueRepresentation() {
        return valueRepresentation;
    }
{{/sequence}}
{{#sequence}}

    public {{keyword}}(Sequence sequence) {
        super(sequence, {{keyword}}.Item.class);
    }


    public static class Item extends AttributesWrapper {

        public Item(Attributes attributes) {
            super(attributes);
        }

{{#subAttributeMetaInfos}}
{{> DataElementAccessors}}
{{/subAttributeMetaInfos}}
    }
{{/sequence}}
}
