// Auto generated
package com.agfa.typeddicom.modules;

{{#subDataElementMetaInfos}}
import com.agfa.typeddicom.dataelements.{{keyword}};
{{/subDataElementMetaInfos}}
import org.dcm4che3.data.Tag;

/**
 * {{name}}
 *
 * @see <a href="{{href}}">DICOM Standard Part 3 - {{name}}</a>
 *
 */
public interface {{keyword}} extends Module {
{{#subDataElementMetaInfos}}
{{> DataElementAccessors}}
{{/subDataElementMetaInfos}}
}
