// Auto generated
package com.agfa.typeddicom.modules;

{{#subDataElementMetaInfos}}
import com.agfa.typeddicom.dataelements.{{keyword}};
{{/subDataElementMetaInfos}}

/**
 * {{name}}
 *
 * @see <a href="{{href}}">DICOM Standard Part 3 - {{name}}</a>
 *
 */
public interface {{keyword}} extends {{implementsHolderInterfaces}} {
}
