// Auto generated
package com.agfa.typeddicom.valuerepresentations;

/**
 * <strong>Name:</strong> {{name}} <br/>
 * <strong>Tag:</strong> {{tag}} <br/>
 * <strong>Definition:</strong> {{{definition}}} <br/>
 * <strong>Character Repertoire:</strong> {{{characterRepertoire}}} <br/>
 * <strong>Length of Value:</strong> {{{lengthOfValue}}} <br/>
 *
 * @see <a href="{{href}}">DICOM Standard Part 5 - {{name}}</a>
 */
public interface {{keyword}} extends {{implementsInterfaces}} {

}