// Auto generated
package org.dcm4che.typeddicom.iods;

import org.dcm4che3.data.Attributes;
import org.dcm4che.typeddicom.AbstractInformationObjectDefinition;
{{#moduleReferences}}
import org.dcm4che.typeddicom.modules.{{moduleMetaInfo.keyword}};
{{/moduleReferences}}

/**
 * <strong>Name:</strong> {{name}} <br/>
 * <strong>Description:</strong> {{{description}}} <br/>
 *
 * @see <a href="{{href}}">DICOM Standard Part 5 - {{name}}</a>
 */
public class {{keyword}} extends AbstractInformationObjectDefinition implements {{implementsModules}} {
    public static String SOP_CLASS_UID = "{{sopClassUID}}";

    public {{keyword}}(Attributes attributes) {
        super(attributes);
    }

    public String getStandardSOPClassUID() {
        return SOP_CLASS_UID;
    }
}