// Auto generated
package org.dcm4che.typeddicom.valuerepresentations;

import org.dcm4che.typeddicom.AttributesWrapper;
import org.dcm4che.typeddicom.Builder;

/**
 * <strong>Name:</strong> {{name}} <br/>
 * <strong>Tag:</strong> {{tag}} <br/>
 * <strong>Definition:</strong> {{{definition}}} <br/>
 * <strong>Character Repertoire:</strong> {{{characterRepertoire}}} <br/>
 * <strong>Length of Value:</strong> {{{lengthOfValue}}} <br/>
 *
 * @see <a href="{{href}}">DICOM Standard Part 5 - {{name}}</a>
 */
public interface {{keyword}} extends {{implementsInterfaces}} {
    class Setter<B extends Builder<B, ? extends AttributesWrapper>, D extends {{keyword}}> extends Builder.AbstractSetter<B, D> implements {{{setterImplementsInterfaces}}} {
        public Setter(B builder, D dataElementWrapper) {
            super(builder, dataElementWrapper);
        }
    }
}