// Auto generated
package org.dcm4che.typeddicom.modules;

import org.dcm4che.typeddicom.AbstractAttributesWrapper;
{{#value.contains}}
import org.dcm4che.typeddicom.dataelements.{{.}};
{{/value.contains}}
import org.dcm4che3.data.Attributes;

/**
 * {{name}}
 *
 * @see <a href="{{value.href}}">DICOM Standard Part 3 - {{value.name}}</a>
 *
 */
public interface {{key}} extends {{{value.implementsHolderInterfaces}}} {
    public static {{key}} wrap(Attributes attributes) {
        return new SimpleWrapper(attributes);
    }

    static class SimpleWrapper extends AbstractAttributesWrapper implements {{key}} {
        private SimpleWrapper(Attributes attributes) {
            super(attributes);
        }
    }

    interface Builder<SELF extends Builder<SELF, T>, T extends {{key}}> extends {{{value.implementsBuilderInterfaces}}} {
    }
}
